:root {
	--background-color: #121212;
	--text-color: #e0e0e0;
	--header-background: #1e1e1e;
	--footer-background: #1e1e1e;
	--input-border: #333333;
	--input-background: #1f1f1f;
	--input-hover-background: #3c3c3c;
	--history-background: #2196f3;
	--history-text-color: #ffffff;
	--success-background: #4caf50;
	--success-hover-background: #45a049;
	--success-text-color: #ffffff;
	--reset-background: #e40000;
	--reset-hover-background: #ff1744;
	--remove-button: #212069;
	--remove-button-hover: #28114d;
	--scrollable-background: #1f1f1f;
	--drink-list-background: #232323;
	--border-color: #444444;
	--shadow-color: rgba(0, 0, 0, 0.5);
	--gray-light: #e0e0e0;
	--gray-dark: #333333;
	--small-screen: 640px;
	--medium-screen: 768px;
	--large-screen: 1024px;
}

* {
	box-sizing: border-box;
	color: var(--text-color);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	/* border: solid 1px red; */
}

html {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100svh;
	max-width: 100svw;
	width: 100%;
	overflow: auto;
	overflow-x: hidden;
	background-color: var(--background-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	flex: 1 1;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 60px 1fr 50px;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

@media (min-width: 768px) {
	.container {
		padding: 1rem;
		max-width: 1400px;
		grid-template-columns: 1fr 8fr 1fr;
		grid-template-areas:
			"header header header"
			"left-asside main right-asside"
			"footer footer footer";
	}
}

header {
	grid-area: header;
	font-size: 1.4rem;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	grid-area: main;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 0 10px;
	gap: 1rem;
	width: 100%;
	height: 100%;
	flex-grow: 1 1;
	flex-shrink: 0;
}

.form-container {
	display: flex;
	flex-direction: column;
}

footer {
	grid-area: footer;
	padding: 10px;
	text-align: center;
}

input,
select,
button {
	width: 100%;
	padding: 10px;
	margin: 4px 0;
	border: 1px solid var(--input-border);
	border-radius: 0.25rem;
	box-shadow: 0 2px 10px var(--shadow-color);
	background-color: var(--input-background);
	color: var(--text-color);
	font-size: 1rem;
}

.history-button {
	background-color: var(--history-background);
	color: var(--history-text-color);
	border: none;
	cursor: pointer;
}

.drink-button {
	background-color: var(--success-background);
	color: var(--success-text-color);
	border: none;
	cursor: pointer;
}

.drink-button:hover {
	background-color: var(--success-hover-background);
}

.reset-button {
	background-color: var(--reset-background);
	color: var(--text-color);
	cursor: pointer;
	border-radius: 0.25rem;
	box-shadow: 0 2px 10px var(--shadow-color);
}

.reset-button:hover {
	background-color: var(--reset-hover-background);
}

.scrollable {
	overflow: auto;
	max-height: 250px;
	max-width: 100%;
	border: 1px solid var(--border-color);
	padding: 10px;
	box-shadow: 0 2px 5px var(--shadow-color);
	background-color: var(--scrollable-background);
	border-radius: 5px;
}

.drink-list-container {
	flex-grow: 1;
	padding: 10px;
	border-radius: 4px;
}

.user-settings-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

@media (min-width: 768px) {
	.user-settings-form {
		flex-direction: row;
	}
}

.user-settings-form-item {
	flex: 1;
}

.container-row {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.drink-options {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: center;
}

.drink-option {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 10px;
	background: #1d1d2c;
	border: 1px solid #ccc;
	border-radius: 8px;
	text-align: center;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
	flex: 1 1;
	min-width: 150px;
}

@media screen and (min-width: 768px) {
	.drink-option {
		flex: 1 1;
		flex-grow: 1 1;
	}
}

.drink-option p:not(:first-child) {
	font-size: 0.8rem;
}

.drink-option:hover {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.drink-option img {
	color: rgb(0, 0, 0);
	filter: invert();
}

.history-container {
	flex: 1 1;
	flex-grow: 1;
	flex-shrink: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}

.history-list {
	padding: 0;
	margin: 0;
}

.history-entry {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.entry-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-grow: 1;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-grow: 1;
}

.entry-time {
	font-size: medium;
	margin-right: 10px;
}

.highlight {
	font-weight: bold;
}

.remove-button {
	margin-left: auto;
	width: 100px;
	background-color: var(--remove-button);
	color: var(--text-color);
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.remove-button:hover {
	background-color: var(--remove-button-hover);
}

.spinner {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

.loader {
	width: 80px;
	height: 80px;
	border: 10px solid rgba(255, 255, 255, 0.1);
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.buttons_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

#custom-drink {
	display: none;
}

.main-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	max-width: var(--large-screen);
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#chart-container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 20px;
}

#soberingTimeChart {
	width: 100%;
	height: auto;
}